@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i');

body{
    background-color: #fff;
    margin: 0 auto;
    width: 1000px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 0 80px 0 80px;
    color: #333;
}

#wrapperMain{
    position: relative;
    width: 900px;
    margin: 0px auto;
    box-shadow: 0px 0px 47px 0px rgba(0,0,0,0.75);
}

#header{
    height: 245px;
    background-image: url('../img/header4.jpg');
    margin: 0px;
    padding: 0 10px 0 10px;
    position: relative;
}

#mainTitle{
    width: 245px;
    height: 245px;
}

#mainTitle>h1{
    visibility: hidden;
    margin: 0px;
    padding: 0px;
}

#wrapperContent{
    position: relative;
    height: 1000px;
    top: 0px;
    padding: 0 24px 0 10px;
}

#contenido{
    width: 550px;
    float: left;
    padding-left: 10px;
}

.mpTitles{
    line-height: 1px;
    color: #2f5e65;
    position: relative;
    width: 100%;
}

.mainPropertyAddress{
    font-size: .7em;
}

#mainProperty{
    background-color: #e9eeef;
    position: relative;
    font-size: 12px;
    padding: 15px;
}

#propertyImages{
    width: 240px;
	height: 180px;
	margin-right: 10px;
	float: left;
}

#listaLeft{
    float: left;
    padding-left: 10px;
    margin-top: 10px;
}

#listaRight{
    float: right;
    margin-top: 10px;
}

#precioInfo{
    position: relative;
    float: left;
    font-size: 16px;
}

#precioNoche{
    color: #2f5e65;
}

#moreIcon{
    width: 16px;
    height: 16px;
    background: url('../img/more_info.gif') no-repeat;
    float: left;
}

#formContact{
    width: 270px;
    background: url('../img/bg_search.png') no-repeat;
    position: relative;
    float: right;
    top: -120px;
    border-radius: 4px;
    color: #2f5e65;
}

#formulario{
    padding: 10px 5px 0px 25px;
}

#form>button{
    background: url('../img/search_button_bg.gif') no-repeat;
    color: #fff;
    width: 83px;
    height: 23px;
}

.labelFormatter>label{
    font-weight: lighter;
}

#contacto{
    padding: 10px 5px 0px 25px;
}

#telefonos{
    padding-bottom: 10px;
}

#contacto p.telIcon{
    width: 30px;
    height: 30px;
    background-image: url('../img/contactus_phone.png');
    margin-right: 11px;
    float: left;
}

#contacto p.contactText{
    color: #333;
    line-height: 1px;
    margin-left: 10px;
    font-size: 12px;
    padding-top: 6px;
    font-weight: lighter;
}

#contacto p.mailIcon{
    width: 30px;
    height: 30px;
    background-image: url('../img/contactus_mail.png');
    margin-right: 11px;
    float: left;
}

footer{
    position: relative;
    bottom: 0px;
}

#footerLogo{
    float: right;
    position: relative;
    bottom: 90px;
}

/* --------- ESTILOS AUXILIARES --------- */

.marginReset{
    margin: 0px;
    padding: 0px;
}

.listReset{
	margin: 0;
	padding: 0;
	list-style-type: none;
}